.myapp {
    top: 0px;
    left: 0;
    right: 0;
    position: absolute;
}

.app-container {
    top: 0px;
    left: 0;
    right: 0;
}

.app-sidenav {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 300px;
}

.app-header {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 50;
}

.app-header-hidden {
    position: fixed;
    top: -60px;
    left: 0;
    right: 0;
}

