<div class="progress-wrapper">
  <div class="current" [ngStyle]="getOverlayStyle()">
      <span style="color: #2096ba;font-size: 1.8rem;">{{getRoundedCashLeft(budget.cashLeft)}}</span>
      <span style="font-size: 1.3rem"> / {{budget.totalCash}}</span>
      <br>
      <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(budget.dateEnd.toDate())==1">
          {{daysLeft(budget.dateEnd.toDate())}} {{ ('daysLeft' | translate)}}
      </span>
      <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(budget.dateEnd.toDate())!=1">
          {{daysLeft(budget.dateEnd.toDate())}} {{ ('daysLeft' | translate)}}
      </span>
      <br>
      <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(budget.dateEnd.toDate())!=0">
          {{perDay(daysLeft(budget.dateEnd.toDate()), budget.cashLeft)}} {{ ('perDay' | translate)}}
      </span>
      <br>

  </div>
  <round-progress [current]="getRoundedCashLeft(budget.cashLeft)" [max]="budget.totalCash" [responsive]="responsive" [stroke]="stroke"
      [clockwise]="clockwise" [color]="getColor(budget.cashLeft, budget.totalCash)" [rounded]="rounded" [background]="getBackgroundColor(budget.cashLeft, budget.totalCash)"></round-progress>
</div>
