@import '~@angular/material/theming';
@mixin app-dashboard-chart-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    app-dashboard-chart {
        .current {
            position: absolute; // color: #1a7b99;
            color: mat-color($mat-blue-grey, 500);
            font-weight: 100;
            line-height: 1;
        }
    }
}
