
<button mat-fab color="accent" style="margin-left: 10px;">
  <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<h2>{{(budget$ | async)?.name}}</h2>
<div *ngIf="(budget$ | async) as budget else loadingTpl2">
  <div class="progress-wrapper">
      <div class="current"  [ngStyle]="getOverlayStyle()">
          <span style="color: #2096ba;font-size: 1.8rem;">{{getRoundedCashLeft(budget.cashLeft)}}</span>
          <span style="font-size: 1.3rem"> / {{budget.totalCash}}</span>
          <br>
          <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(budget.dateEnd)==1">
              {{daysLeft(budget.dateEnd)}} {{ ('daysLeft' | translate)}}
          </span>
          <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(budget.dateEnd)!=1">
              {{daysLeft(budget.dateEnd)}} {{ ('daysLeft' | translate)}}
          </span>
          <br>
          <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(budget.dateEnd)!=0">
              {{perDay(daysLeft(budget.dateEnd), budget.cashLeft)}} {{ ('perDay' | translate)}}
          </span>
          <br>

      </div>
      <round-progress [current]="getRoundedCashLeft(budget.cashLeft)" [max]="budget.totalCash" [responsive]="responsive"
          [stroke]="stroke" [clockwise]="colckwise" [color]="getColor(budget.cashLeft, budget.totalCash)" [rounded]="rounded"
          [background]="getBackgroundColor(budget.cashLeft, budget.totalCash)"></round-progress>
  </div>
   
  <div style="display: flex;background-color: yellow;"  fxLayout="row" >
      <div style="height: 30px;width: 100%; background-color: red;" >
           a
      </div>
      <div style="height: 30px;width: 100%; background-color: blue;" >
          b
      </div>
      <div style="height: 30px;width: 100%; background-color: green;" >
           c
      </div>
    
  </div>

  adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>adfadfa <br>
</div>
<ng-template #loadingTpl2>
  <span class="loading">{{'loading' | translate}}...</span>
</ng-template>