<div fxLayout="column" fxLayoutGap="10px">
  <mat-toolbar>
    <mat-toolbar-row class="toolbar-title">
      <span>{{budgetLine?.name}}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onEdit()">
          <mat-icon>edit</mat-icon>
          <span>{{'edit' | translate}}</span>
        </button>
        <button mat-menu-item (click)="onDelete()">
          <mat-icon>delete_forever</mat-icon>
          <span>{{'delete' | translate}}</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="budgetLine?.description" class="toolbar-desc">
      <span class="mat-caption">{{budgetLine?.description}}</span>
    </mat-toolbar-row>

  </mat-toolbar>



  <section name="chart">
    <app-line-chart [budget]="budget" [line]="budgetLine"></app-line-chart>
  </section>
  <section name="progress">
    <h4 class="mat-subheading-2">{{getProcentToTotalBudget()}}% {{'LineCardComponent_oftotal' | translate}}</h4>
    <mat-progress-bar color="primary" mode="determinate" [value]="getProcentToTotalBudget()"></mat-progress-bar>

  </section>

  <mat-accordion class="history-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'expenses' | translate}} ({{(expenses$ | async)?.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-expenses-list [expenses]="expenses$ | async"></app-expenses-list>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'shifts' | translate }} ({{(shifts$ | async)?.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-shifts-list [shifts]="shifts$ | async"></app-shifts-list>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>

</div>
