.signin-form {
    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
}

.full-width {
    width: 100%;
}

.signin-btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 110%;
    width: 100%;
}

.space-between {
    margin-top: 10px;
    margin-bottom: 10px;
}
