.signup-form {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.full-width {
    width: 100%;
  }

  .signup-btn-class{
      margin-top: 10px;
      padding: 10px;
      width: 100%;
      font-size: 110%;
  }

  .space-between {
      margin-top: 10px;
      margin-bottom: 10px;
  }
