.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.app-header {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 50;

}

.app-header-hidden {
  position: fixed;
  top: -60px;
  left: 0;
  right: 0;
}
