<mat-toolbar color="primary" layout="row" style="position: fixed;">

    <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{'appname' | translate}}</span>
    <span fxFlex="1 1 auto"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>fingerprint</mat-icon>
            <span>Login</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>annoucement</mat-icon>
            <span>Issues</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>



</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list style="margin-top: 60px">
            <a mat-list-item (click)="sidenav.close()" [routerLink]="['/']">
                <mat-icon mat-list-icon>Home</mat-icon>
                <span mat-line>Home</span>
                <span mat-line class="secondary">Home</span>
            </a>
            <a mat-list-item (click)="sidenav.close()" [routerLink]="['/categories']">
                <mat-icon mat-list-icon>list</mat-icon>
                <span mat-line>Categories</span>
                <span mat-line class="secondary">Categories</span>
            </a>
            <a mat-list-item (click)="sidenav.close()" [routerLink]="['/tags']">
                <mat-icon mat-list-icon>bookmark</mat-icon>
                <span mat-line>Tags</span>
                <span mat-line class="secondary">Tags</span>
            </a>
            <a mat-list-item (click)="sidenav.close()" [routerLink]="['/questions']">
                <mat-icon mat-list-icon>question_answer</mat-icon>
                <span mat-line>Questions</span>
                <span mat-line class="secondary">Questions</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <div class="my-content">



        <div class="container" fxLayout fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0" style="min-height: 100vh;margin-top:70px;">

           

            <router-outlet></router-outlet>
        </div>
    </div>
</mat-sidenav-container>