<div style="width: 100%; text-align: right">
    <button mat-fab color="accent" style="margin-right: 25px;" (click)="onAddFastExpense()">
        <mat-icon aria-label="Add expense">add</mat-icon>
    </button>
</div>

<div *ngIf="(budget$ | async) as budget else loadingTpl2">
     <app-dashboard-chart [budget]="budget"></app-dashboard-chart>


    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>
    <p>Please scroll!</p>
    <br>
    <br>

</div>
<ng-template #loadingTpl2>
    <span class="loading">{{'loading' | translate}}...</span>
</ng-template>
