// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
@import 'src/themes/my-theme.scss';

.mat-chip:not(.mat-basic-chip) {
    padding: 4px 10px;
    border-radius: 15px;
    margin-right: 1px !important;
    margin-left: 1px !important;
}

.my-mat-chip-cash-left {
  font-size: 0.75rem;
}
.my-mat-chip-total-cash {
  font-size: 0.65rem;
  background-color: mat-color($mat-blue-grey, 100);
  color: mat-color($money-app-primary, '100-contrast');
}
.my-chip {
  padding: 4px 10px;
  border-radius: 15px;
  margin-right: 1px !important;
  margin-left: 1px !important;
}
.my-chip-orange {
  background-color: mat-color($mat-amber, 'A700');
  color: mat-color($money-app-primary, 'A700-contrast');
}
.my-chip-green {
  background-color: mat-color($mat-light-green, 500);
  color: mat-color($money-app-primary, '500-contrast');
}
.my-chip-red {
  background-color: mat-color($mat-red, 'A200');
  color: mat-color($money-app-primary, 'A200-contrast');
}
