<mat-button-toggle-group #group="matButtonToggleGroup" (change)="onChange(group.value)" [value]="selectedValue" >
  <mat-button-toggle value="[Sort Lines] Alpha Up">
    <fa-icon [icon]="faSortAlphaUp"></fa-icon>
  </mat-button-toggle>
  <mat-button-toggle value="[Sort Lines] Alpha Down">
    <fa-icon [icon]="faSortAlphaDown"></fa-icon>
  </mat-button-toggle>
  <mat-button-toggle value="[Sort Lines] Amount Up">
    <fa-icon [icon]="faSortAmountUp"></fa-icon>
  </mat-button-toggle>
  <mat-button-toggle value="[Sort Lines] Amount Down" >
    <fa-icon [icon]="faSortAmountDown"></fa-icon>
  </mat-button-toggle>
</mat-button-toggle-group>
