<form (ngSubmit)="onSignin(f)" #f="ngForm" class="signin-form">
  
    <mat-form-field class="full-width space-between">
      <input matInput placeholder="{{'email' | translate}}" id="email" type="email" name="email" ngModel
      required email #email="ngModel">
      <mat-error >
        {{'pleaseenteravalidemailaddress' | translate}}!
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="full-width space-between" style="margin-top: 20px;">
      <input matInput placeholder="{{'password' | translate}}" id="password" type="password" name="password" ngModel
      password required>
    </mat-form-field>
  
    <button mat-raised-button color="accent" type="submit" class="signin-btn" [disabled]="!f.valid" style="margin-top: 10px;">
      {{'signin' | translate}}
    </button>
  
  
  </form>