
<button mat-fab color="accent" style="margin-left: 10px;">
    <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
</button>
<div *ngIf="budget$ | async as currentBudget else loadingTpl2">
    <div class="progress-wrapper">
        <div class="current"  [ngStyle]="getOverlayStyle()">
            <span style="color: #2096ba;font-size: 1.8rem;">{{getRoundedCashLeft(currentBudget.cashLeft)}}</span>
            <span style="font-size: 1.3rem"> / {{currentBudget.totalCash}}</span>
            <br>
            <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(currentBudget.dateEnd)==1">
                {{daysLeft(currentBudget.dateEnd)}} {{ ('daysLeft' | translate)}}
            </span>
            <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(currentBudget.dateEnd)!=1">
                {{daysLeft(currentBudget.dateEnd)}} {{ ('daysLeft' | translate)}}
            </span>
            <br>
            <span style="font-size: 1.1rem; color: #36384c;" *ngIf="daysLeft(currentBudget.dateEnd)!=0">
                {{perDay(daysLeft(currentBudget.dateEnd), currentBudget.cashLeft)}} {{ ('perDay' | translate)}}
            </span>
            <br>

        </div>
        <round-progress [current]="getRoundedCashLeft(currentBudget.cashLeft)" [max]="currentBudget.totalCash" [responsive]="responsive"
            [stroke]="stroke" [clockwise]="colckwise" [color]="getColor(currentBudget.cashLeft, currentBudget.totalCash)" [rounded]="rounded"
            [background]="getBackgroundColor(currentBudget.cashLeft, currentBudget.totalCash)"></round-progress>
    </div>
</div>
<ng-template #loadingTpl2>
    <span class="loading">{{'loading' | translate}}...</span>
</ng-template>