@import '~@angular/material/theming';

@mixin app-budget-tabs-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  app-budget-tabs {
    .my-nav-tab{
        background-color: mat-color($primary);
    }

    .nav-tab-fixed{
        background-color:mat-color($primary);
    }
    .nav-tab{
        background-color: mat-color($primary);
    }



    mat-icon {
        color: mat-color($primary, lighter);
    }
  
  }

}